name: TWRP Build for Unisoc

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cleanup and Setup Environment
      run: |
        sudo apt-get update
        sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget python3

        - name: Install Repo Tool
        run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        sudo ln -sf ~/bin/repo /usr/bin/repo

    - name: Sync TWRP Minimal Manifest
      run: |
        mkdir ~/twrp
        cd ~/twrp
        git config --global user.name "Your Name"
        git config --global user.email "you@example.com"
        repo init --depth=1 -u https://github.com/minimal-twrp/manifest.git -b twrp-12.1
        repo sync -j$(nproc --all) --force-sync --no-tags --no-clone-bundle

    - name: Copy Device Tree
      run: |
        cp -r ${{ github.workspace }}/device ~/twrp/

    - name: Building vendor_boot
      run: |
        cd ~/twrp
        source build/envsetup.sh
        lunch twrp_vendor_boot-eng
        export ALLOW_MISSING_DEPENDENCIES=true
        mka vendorbootimage

    - name: Upload Result
      uses: actions/upload-artifact@v4  # এখানে v3 এর জায়গায় v4 হবে
      with:
        name: TWRP-Image
        path: ~/twrp/out/target/product/X6725B/vendor_boot.img # আপনার ডিভাইসের নাম অনুযায়ী পাথ চেক করে নিন
