name: PBRP - Build

on:
  workflow_dispatch:
    inputs:
      MANIFEST_BRANCH:
        description: 'PBRP Manifest Branch'
        required: true
        default: 'android-12.1'
      DEVICE_TREE:
        description: 'Device Tree URL'
        required: true
        default: 'https://github.com/Shahed420/Infinix_X6725B_TWRP_Tree.git'
      DEVICE_PATH:
        description: 'Device Path'
        required: true
        default: 'device/infinix/X6725B'
      DEVICE_NAME:
        description: 'Device Codename'
        required: true
        default: 'X6725B'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Clean-up Environment
      uses: rokibhasansagar/slimhub_actions@main

    - name: Set Swap Space
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 24

    - name: Install Repo
      run: |
        mkdir -p ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        sudo ln -sf ~/bin/repo /usr/bin/repo

    
    - name: Clone Device Tree
      run: |
        cd ${GITHUB_WORKSPACE}
        mkdir -p PBRP
        cd PBRP
        git clone ${{ inputs.DEVICE_TREE }} -b main ${{ inputs.DEVICE_PATH }}

    - name: Building PBRP
      run: |
        cd ${GITHUB_WORKSPACE}/PBRP
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        lunch twrp_X6725B-eng
        make clean
        mka pbrp -j$(nproc --all)

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: PBRP-Build
        path: |
          PBRP/out/target/product/X6725B/PBRP*.zip
          PBRP/out/target/product/X6725B/recovery.img
